/* images sous le menu et texte à l'intérieur de l'image */

.container_image {
    margin-bottom: 2%;
    position: relative;
}

#illustration {
    margin-top: 4%;
    display: inline-block;
    width: 100%;
    max-height: 800px;
    border-bottom: 2em solid;
    border-bottom-color: #222;
}


.container_image .text {
    animation-name: animation_text;
    animation-duration: 2000ms;
    animation-delay: 250ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

    z-index: 1;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 30%;
    width: 70%;
    font-size: 3vw;
}

.container_image .white {
    color: #d6d6e4;
}

.container_image .black {
    color: #151516;
}

@keyframes animation_text {
    0% {
        transform: translateX(-10vh);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media screen and (max-width:1024px) {

    #illustration {
        border-bottom: 1em solid;
        border-bottom-color: #222;
    }
}

@media screen and (max-width:600px) {
    #illustration {
        border-bottom: 0.5em solid;
        border-bottom-color: #222;
    }
}